In [1]:
# Practical Implementation-1 (page no.=1.6)
# To create an Empty Series using Pandas.
 
import pandas as pd
s1=pd.Series()
print(s1)

Series([], dtype: float64)

<ipython-input-1-ec6373d7f49e>:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s1=pd.Series()

In [2]:
# Practical Implementation-2 (page no.=1.7)
# To Create series using List.

import pandas as pd
series1=pd.Series([10,20,30,40])        # using list to create a series
print(series1)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
# Practical Implementation-3 (page no.=1.7)
# To Create a series from two different Lists.

import pandas as pd
months = ['Jan','Feb','Mar','Apr','May','June']
no_days = [31,28,31,30,31,30]
series = pd.Series(no_days, index = months)
print(series)

Jan     31
Feb     28
Mar     31
Apr     30
May     31
June    30
dtype: int64

In [4]:
# Practical Implementation-4 (page no.=1.8)
# To create a series using range() mehod.

import pandas as pd
series1 = pd.Series(range(5))
print(series1)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [5]:
# Practical Implementation-5 (page no.=1.8)
# To create a series with range() and for loop.

import pandas as pd
s = pd.Series(range(1,15,3), index=[x for x in 'abcde'])
print(s)

a     1
b     4
c     7
d    10
e    13
dtype: int64

In [6]:
# Practical Implementation-6 (page no.=1.8)
# Handling floating poiint values for generating a series.

import pandas as pd
series1 = pd.Series([2,4,6,7.5])
print(series1)

0    2.0
1    4.0
2    6.0
3    7.5
dtype: float64

In [7]:
# creating series using missing values(NaN) (page no.=1.9)

import pandas as pd
import numpy as np
sobj=pd.Series([7.5,5.4,np.NaN,-34.5])
print(sobj)

0     7.5
1     5.4
2     NaN
3   -34.5
dtype: float64

In [2]:
# Practical Implementation-7 (page no.=1.9)
# Modification 

import pandas as pd
s1=pd.Series([1,2,3,4,5,6])
print(s1,'\n')
s1.index=['First','Second','Third','Fourth','Fifth','Sixth']
print(s1)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

First     1
Second    2
Third     3
Fourth    4
Fifth     5
Sixth     6
dtype: int64

In [9]:
# modify the index values in place as per requirement.

import pandas as pd
series2 = pd.Series([10,20,30,40,50],index = ['a','b','c','d','e'])
print(series2)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [10]:
# Practical Implementation-8 (page no.=1.10)
# To access single and multiple values based on index.

import pandas as pd
series2=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print(series2['d'])
print(series2[['a','c','e']])

40
a    10
c    30
e    50
dtype: int64

In [11]:
# Practical Implementation-9 (page no.=1.10)
# To perform indexing, slicing and accessing data from a series.

import pandas as pd
s =pd.Series([1,2,3,4,5],index =['a','b','c','d','e'])
print(s[0])
print(s[:3])
print(s[-3:])

1
a    1
b    2
c    3
dtype: int64
c    3
d    4
e    5
dtype: int64

In [12]:
# Usage of loc and iloc for accessing elements of a series (page no.=1.11)

import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s.iloc[1:4])
print(s.loc['b':'e'])

b    2
c    3
d    4
dtype: int64
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
# Practical Implementation-10 (page no.=1.11)
# To create a series from a numerical scalar or constant vlaue.

import pandas as pd
series1 =pd.Series(55,index=['a','b','c','d','e'])
print(series1)

# Another format
series2 =pd.Series(55,index =[0,1,2,3])
print(series2)

a    55
b    55
c    55
d    55
e    55
dtype: int64
0    55
1    55
2    55
3    55
dtype: int64

In [14]:
# Creating series using scalar values with index through range()  (page no.=1.12)

import pandas as pd
s1 =pd.Series(10,index =range(0,3))
print(s1)

# using range() to display the index values with a difference of 2 positions
s2 =pd.Series(15,index=range(1,6,2))
print(s2)

0    10
1    10
2    10
dtype: int64
1    15
3    15
5    15
dtype: int64

In [15]:
# Practical Implementation-11 (page no.=1.12)
# To create a series using string as index.

import pandas as pd
s =pd.Series('Welcome to TCS',index=['Sonia','Vinay','Shaurya','RAhul'])
print(s)

Sonia      Welcome to TCS
Vinay      Welcome to TCS
Shaurya    Welcome to TCS
RAhul      Welcome to TCS
dtype: object

In [16]:
# Practical Implementation-12 (page no.=1.13)
# To create a series from Dictionary

import pandas as pd
series =pd.Series({'Jan':31,'Feb':28,'Mar':31,'Apr':30})
print(series)

Jan    31
Feb    28
Mar    31
Apr    30
dtype: int64

In [17]:
# Naming a series and the index column   (page no.=1.13)

import pandas as pd
series =pd.Series({'Jan':31,'Feb':28,'Mar':31,'Apr':30})
series.name = 'Days'
series.index.name ='Month'
print(series)

Month
Jan    31
Feb    28
Mar    31
Apr    30
Name: Days, dtype: int64

In [18]:
# Practical Implementation-13 (page no.=1.14)
# To generate a series using a mathematical expression.

import pandas as pd
import numpy as np
s1= np.arange(10,15)
print(s1)
sobj=pd.Series(index =s1,data=s1*4)
print(sobj)

[10 11 12 13 14]
10    40
11    44
12    48
13    52
14    56
dtype: int32

In [19]:
# Practical Implementation-14 (page no.=1.14)
# To generate a series using a mathematical function (exponentiation).

import pandas as pd
import numpy as np
s1= np.arange(10,15)
print(s1)
sobj=pd.Series(index =s1,data=s1**2)
print(sobj)

[10 11 12 13 14]
10    100
11    121
12    144
13    169
14    196
dtype: int32

In [20]:
# Practical Implementation-15 (page no.=1.15)
# To  generate a series using a one=dimensional (1D) array.

import pandas as pd
import numpy as np
array1=np.array([10,20,30,40])
series1=pd.Series(array1)
print(series1)

0    10
1    20
2    30
3    40
dtype: int32

In [21]:
# Practical Implementation-16 (page no.=1.15)
# To generate a series using a one-dimensional (1D) array with explicit index.

import pandas as pd
import numpy as np
array1=np.array([10,20,30,40])
series1=pd.Series(array1,index=['a','b','c','d'])
print(series1)

a    10
b    20
c    30
d    40
dtype: int32

In [3]:
# Practical Implementation-17 (page no.=1.16)
# To illustrate the various attributes related to a series object.

import pandas as pd
s =pd.Series(range(1,15,3),index =[x for x in 'abcde'])
print(s)
print(s.index)
print(s.values)
print(s.shape)
print(s.size)
print(s.nbytes)
print(s.ndim)
#print(s.itemsize)

a     1
b     4
c     7
d    10
e    13
dtype: int64
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
[ 1  4  7 10 13]
(5,)
5
40
1

In [23]:
# Practical Implementation-18 (page no.=1.16)
# Using head() and tail() functions on series

import pandas as pd
series1 =pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print(series1)
print(series1.head(2))      # if no argument is provided then by default 5 rows are displayed
print(series1.tail(2))

a    10
b    20
c    30
d    40
e    50
dtype: int64
a    10
b    20
dtype: int64
d    40
e    50
dtype: int64

In [24]:
# Practical Implementation-19 (page no.=1.17)
# To illustrate the working of mathematical operators on series.

import pandas as pd
s=pd.Series([11,12,13,14],index=[1,2,3,4])
s1=pd.Series([21,22,23,24],index=[1,2,3,4])
s3=pd.Series([21,22,23,24],index=[101,102,103,104])
s4=pd.Series(10,index=[10,102,103,4])
print(s,'\n')
print(s1,'\n')
print(s3,'\n')
print(s4,'\n')

1    11
2    12
3    13
4    14
dtype: int64

1    21
2    22
3    23
4    24
dtype: int64

101    21
102    22
103    23
104    24
dtype: int64

10     10
102    10
103    10
4      10
dtype: int64

In [25]:
# Mathematical operations on series  (page no.=1.17)

# Addition of s and s1
print(s+s1,'\n')

# Multiplication of s and s1
print(s*s1,'n')

# division of s and s1
print(s/s1,'\n')

# Addition of s and s3
print(s+s3,'\n')

# difference of s3 and s4
print(s3-s4)

1    32
2    34
3    36
4    38
dtype: int64

1    231
2    264
3    299
4    336
dtype: int64 n
1    0.523810
2    0.545455
3    0.565217
4    0.583333
dtype: float64

1     NaN
2     NaN
3     NaN
4     NaN
101   NaN
102   NaN
103   NaN
104   NaN
dtype: float64

4       NaN
10      NaN
101     NaN
102    12.0
103    13.0
104     NaN
dtype: float64

In [26]:
# Vector operations on series   (page no.=1.17)

print(s,'\n')
print(s+2,'\n')
print(s*3,'\n')
print(s**2,'\n')
print(s>13)

1    11
2    12
3    13
4    14
dtype: int64

1    13
2    14
3    15
4    16
dtype: int64

1    33
2    36
3    39
4    42
dtype: int64

1    121
2    144
3    169
4    196
dtype: int64

1    False
2    False
3    False
4     True
dtype: bool

In [27]:
# Condition based retrieval  (page no.=1.18)
    
import pandas as pd
s=pd.Series([1.000000,1.414214,1.732051,2.000000])
print(s,'\n')
print(s<2,'\n')
print(s[s<2],'\n')   # Displaying all the values less than 2
print(s[s>=2])

0    1.000000
1    1.414214
2    1.732051
3    2.000000
dtype: float64

0     True
1     True
2     True
3    False
dtype: bool

0    1.000000
1    1.414214
2    1.732051
dtype: float64

3    2.0
dtype: float64

In [28]:
# Deleting Elements form a series

import pandas as pd
s=pd.Series([1.000000,1.414214,1.732051,2.000000])
print(s,'\n')
print(s.drop(3))

0    1.000000
1    1.414214
2    1.732051
3    2.000000
dtype: float64

0    1.000000
1    1.414214
2    1.732051
dtype: float64

In [29]:
# Creating a DataFrame

import pandas as pd
dict={'2018':[85.4,88.2,80.3,79.0],'2019':[77.9,80.5,78.6,76.2],'2020':[86.5,90.0,77.5,80.5]}
df=pd.DataFrame(dict,index=['Accountancy','IP','Economics','English'])
print(df)

             2018  2019  2020
Accountancy  85.4  77.9  86.5
IP           88.2  80.5  90.0
Economics    80.3  78.6  77.5
English      79.0  76.2  80.5

In [30]:
# Attributes of a Dataframe   (page no.=1.19)

import pandas as pd
dict={'2018':[85.4,88.2,80.3,79.0],'2019':[77.9,80.5,78.6,76.2],'2020':[86.5,90.0,77.5,80.5]}
df=pd.DataFrame(dict,index=['Accountancy','IP','Economics','English'])
print(df,'\n')

print(df.index,'\n')        # 1.index
print(df.columns,'\n')      # 2.columns
print(df.axes,'\n')         # 3.axes
print(df.dtypes,'\n')       # 4.dtypes
print(df.size,'\n')         # 5.size
print(df.shape,'\n')        # 6.shape
print(df.ndim)              #7.ndim

             2018  2019  2020
Accountancy  85.4  77.9  86.5
IP           88.2  80.5  90.0
Economics    80.3  78.6  77.5
English      79.0  76.2  80.5

Index(['Accountancy', 'IP', 'Economics', 'English'], dtype='object')

Index(['2018', '2019', '2020'], dtype='object')

[Index(['Accountancy', 'IP', 'Economics', 'English'], dtype='object'), Index(['2018', '2019', '2020'], dtype='object')]

2018    float64
2019    float64
2020    float64
dtype: object

12

(4, 3)

2

In [31]:
# 8.empty

import pandas as pd
dict={'2018':[85.4,88.2,80.3,79.0],'2019':[77.9,80.5,78.6,76.2],'2020':[86.5,90.0,77.5,80.5]}
df=pd.DataFrame(dict,index=['Accountancy','IP','Economics','English'])
print("Using 'Empty' on DataFrame: ",df.empty)
print('\n')
print('Finding NaN values....','\n',df.isna())
print("NOT FOUND")

Using 'Empty' on DataFrame:  False


Finding NaN values....
               2018   2019   2020
Accountancy  False  False  False
IP           False  False  False
Economics    False  False  False
English      False  False  False
NOT FOUND

In [32]:
# 9.count

import pandas as pd
dict={'2018':[85.4,88.2,80.3,79.0],'2019':[77.9,80.5,78.6,76.2],'2020':[86.5,90.0,77.5,80.5]}
df=pd.DataFrame(dict,index=['Accountancy','IP','Economics','English'])
print(df)
print('\n')
print("When we use 'count()':")
print(df.count())
print('\n')
print("When we use 'count(axis='index')':")
print(df.count(axis='index'))
print('\n')
print("When we use 'count(1)':")
print(df.count(1))
print('\n')
print("When we use 'count(axis='columns')':")
print(df.count(axis='columns'))

             2018  2019  2020
Accountancy  85.4  77.9  86.5
IP           88.2  80.5  90.0
Economics    80.3  78.6  77.5
English      79.0  76.2  80.5


When we use 'count()':
2018    4
2019    4
2020    4
dtype: int64


When we use 'count(axis='index')':
2018    4
2019    4
2020    4
dtype: int64


When we use 'count(1)':
Accountancy    3
IP             3
Economics      3
English        3
dtype: int64


When we use 'count(axis='columns')':
Accountancy    3
IP             3
Economics      3
English        3
dtype: int64

In [33]:
# 10.T(Transpose)

import pandas as pd
dict={'2018':[85.4,88.2,80.3,79.0],'2019':[77.9,80.5,78.6,76.2],'2020':[86.5,90.0,77.5,80.5]}
df=pd.DataFrame(dict,index=['Accountancy','IP','Economics','English'])
print(df)
print('\n')
df1=df.T
print("After transpose:")
print(df1)

             2018  2019  2020
Accountancy  85.4  77.9  86.5
IP           88.2  80.5  90.0
Economics    80.3  78.6  77.5
English      79.0  76.2  80.5


After transpose:
      Accountancy    IP  Economics  English
2018         85.4  88.2       80.3     79.0
2019         77.9  80.5       78.6     76.2
2020         86.5  90.0       77.5     80.5

In [34]:
# Creating an Empty Dataframe  (page no.=1.23)

import pandas as pd
df1=pd.DataFrame()
print(df1)

Empty DataFrame
Columns: []
Index: []

In [35]:
# To create a dataframe from list.   (page no.=1.24)

import pandas as pd
list1=[10,20,30,40,50]
df1=pd.DataFrame(list1)
print(df1)

    0
0  10
1  20
2  30
3  40
4  50

In [36]:
# To create dataframe from student list.   (page no.=1.24)

import pandas as pd1
data1=[['Shreya',20],['Umar',17],['Ajay',18]]
df1 = pd1.DataFrame(data1,columns=['Name','Age'])   # Defining column names to be displayed as headings
print(df1)

     Name  Age
0  Shreya   20
1    Umar   17
2    Ajay   18

In [37]:
# Practical Implementation-20   (page no.=1.25)
# To create dataframe from two series of studentg data.

import pandas as pd
student_marks =pd.Series({'Vijaya':80,'Rahul':92,'Meghna':67,'Radhika':95,'Shaurya':97})
student_age =pd.Series({'Vijaya':32,'Rahul':28,'Meghna':30,'Radhika':25,'Shaurya':20})
student_df =pd.DataFrame({'Marks':student_marks,'Age':student_age})
print(student_df)

         Marks  Age
Vijaya      80   32
Rahul       92   28
Meghna      67   30
Radhika     95   25
Shaurya     97   20

In [38]:
# Practical Implementation-21   (page no.=1.25)
# Sorting the data in a dataframe

import pandas as pd
student_marks =pd.Series({'Vijaya':80,'Rahul':92,'Meghna':67,'Radhika':95,'Shaurya':97})
student_age =pd.Series({'Vijaya':32,'Rahul':28,'Meghna':30,'Radhika':25,'Shaurya':20})
student_df =pd.DataFrame({'Marks':student_marks,'Age':student_age})

print(student_df)  # Sorting the data on the basis of marks in ascending order
print('\n')
print(student_df.sort_values(by=['Marks']))  # by keywords defines the field on the basis of which the data is to be sorted
print('\n')
print(student_df.sort_values(by=['Marks'],ascending=False))    # Sorted in descending order of marks

         Marks  Age
Vijaya      80   32
Rahul       92   28
Meghna      67   30
Radhika     95   25
Shaurya     97   20


         Marks  Age
Meghna      67   30
Vijaya      80   32
Rahul       92   28
Radhika     95   25
Shaurya     97   20


         Marks  Age
Shaurya     97   20
Radhika     95   25
Rahul       92   28
Vijaya      80   32
Meghna      67   30

In [39]:
# Creating dataframe using dictionary of lists   (page no.=1.26)

import pandas as pd
student={'Name':['Rinku','Ritu','Ajay','Pankaj','Aditya'],'English':[67,78,75,88,92],'Economics':[78,67,89,90,56],'IP':[78,88,99,90,87],'Accounts':[77,70,80,61,86]}
df=pd.DataFrame(student)
print(df)

     Name  English  Economics  IP  Accounts
0   Rinku       67         78  78        77
1    Ritu       78         67  88        70
2    Ajay       75         89  99        80
3  Pankaj       88         90  90        61
4  Aditya       92         56  87        86

In [40]:
# Creating a dataframe from dictionary of series

import numpy as np
import pandas as pd
n=pd.Series(['Rinku','Deep','Shaurya','RAdhika'])
Eng=pd.Series([89,78,89,90])
Eco=pd.Series([87,80,60,84])
IP=pd.Series([89,78,67,90])

Stud_Result={'Name':n,'English':Eng,'Economics':Eco,'Informatics Practices':IP}

df=pd.DataFrame(Stud_Result)        # Creating dataframe
print(df)

      Name  English  Economics  Informatics Practices
0    Rinku       89         87                     89
1     Deep       78         80                     78
2  Shaurya       89         60                     67
3  RAdhika       90         84                     90

In [41]:
#Practical Implementation-22   (page no.=1.27)
# To Create a dataframe from a dictionary of series by directly passing values to dictionary by Series() method.

import pandas as pd
Stud_Result={"Name":pd.Series(['Rinku','Deep','Shaurya','Radhika']),
             "English":pd.Series([89,78,89,90]),
             "Economics":pd.Series([87,80,60,84]),
             "Informatics Practices":pd.Series([89,78,67,90])}
df =pd.DataFrame(Stud_Result)
print(df)

      Name  English  Economics  Informatics Practices
0    Rinku       89         87                     89
1     Deep       78         80                     78
2  Shaurya       89         60                     67
3  Radhika       90         84                     90

In [42]:
#Practical Implementation-23   (page no.=1.28)
# To creating a dataframe by passing a list of dictionaries.

import pandas as pd
newstudent =[{'Rinku':67,'Ritu':78,'Ajay':98,'Pankaj':88,'Aditya':92},
            {'Rinku':77,'Ritu':58,'Ajay':87,'Pankaj':65},
            {'Rinku':88,'Ajay':89,'Pankaj':74,'Aditya':70}]

newdf =pd.DataFrame(newstudent)
print(newdf)

   Rinku  Ritu  Ajay  Pankaj  Aditya
0     67  78.0    98      88    92.0
1     77  58.0    87      65     NaN
2     88   NaN    89      74    70.0

In [43]:
# Practical Implementation-24   (page no.=1.28)
# To Create a dataframe from Numpy ndarray.

import pandas as pd
import numpy as np

array = np.array([[67,78,75,78],[67,78,75,88],[78,67,89,90],[78,88,98,90]])        # Creating Numpy array

column_values = ['English','Economics','IP','Accounts']                            # Creating a list of column names

df = pd.DataFrame(data = array, columns = column_values)                           # Creating dataframe

print(df)                                                                          # displaying dataframe

   English  Economics  IP  Accounts
0       67         78  75        78
1       67         78  75        88
2       78         67  89        90
3       78         88  98        90

In [44]:
#Practical Implementation-25   (page no.=1.29)
# To display records from the first to the third row.

import pandas as pd
student={'Name':['Rinku','Ritu','Ajay','Pankaj','Aditya'],'English':[67,78,75,88,92],'Economics':[78,67,89,90,56],'IP':[78,88,99,90,87],'Accounts':[77,70,80,61,86]}
print("Series generated as:")
print(student,'\n')

df=pd.DataFrame(student)                # Adding the above data in a dataframe
print("DataFrame for student")
print(df)

Series generated as:
{'Name': ['Rinku', 'Ritu', 'Ajay', 'Pankaj', 'Aditya'], 'English': [67, 78, 75, 88, 92], 'Economics': [78, 67, 89, 90, 56], 'IP': [78, 88, 99, 90, 87], 'Accounts': [77, 70, 80, 61, 86]}

DataFrame for student
     Name  English  Economics  IP  Accounts
0   Rinku       67         78  78        77
1    Ritu       78         67  88        70
2    Ajay       75         89  99        80
3  Pankaj       88         90  90        61
4  Aditya       92         56  87        86

In [45]:
# Practical Implementation-26   (page no.=1.29)
# To create indexed dataframe using lists.

df =pd.DataFrame(student,index=['Sno1','Sno2','Sno3','Sno4','Sno5'])
print(df)

        Name  English  Economics  IP  Accounts
Sno1   Rinku       67         78  78        77
Sno2    Ritu       78         67  88        70
Sno3    Ajay       75         89  99        80
Sno4  Pankaj       88         90  90        61
Sno5  Aditya       92         56  87        86

In [46]:
# Practical Implementation-27   (page no.=1.30)
# To change the Index Column

df.set_index("Name",inplace=True)
print(df)

        English  Economics  IP  Accounts
Name
Rinku        67         78  78        77
Ritu         78         67  88        70
Ajay         75         89  99        80
Pankaj       88         90  90        61
Aditya       92         56  87        86

In [47]:
# Practical Implementation-28   (page no.=1.30)
# To reset Index column

df.reset_index(inplace =True)
print(df)

     Name  English  Economics  IP  Accounts
0   Rinku       67         78  78        77
1    Ritu       78         67  88        70
2    Ajay       75         89  99        80
3  Pankaj       88         90  90        61
4  Aditya       92         56  87        86

In [48]:
# Adding/Modifying a Row in a DataFrame    (page no.=1.31)

import pandas as pd
newstudent =[{'Rinku':67,'Ritu':78,'Ajay':98,'Pankaj':88,'Aditya':92},
            {'Rinku':77,'Ritu':58,'Ajay':87,'Pankaj':65},
            {'Rinku':88,'Ajay':89,'Pankaj':74,'Aditya':70}]


newdf=pd.DataFrame(newstudent)
print(newdf,'\n')
print('\n Dataframe After inserting new record')
newdf.loc['3']=[45,56,67,88,99]                # new record added at location 3
print(newdf)

   Rinku  Ritu  Ajay  Pankaj  Aditya
0     67  78.0    98      88    92.0
1     77  58.0    87      65     NaN
2     88   NaN    89      74    70.0


 Dataframe After inserting new record
   Rinku  Ritu  Ajay  Pankaj  Aditya
0     67  78.0    98      88    92.0
1     77  58.0    87      65     NaN
2     88   NaN    89      74    70.0
3     45  56.0    67      88    99.0

In [49]:
# Practical Implementation-29   (page no.=1.32)
# To rename a column name.

import pandas as pd
al=[101,102,103,104,105]
df=pd.DataFrame(al)
print(df,'\n')

df.columns=['Admno']      # Renaming the column name to Admno
print(df)

     0
0  101
1  102
2  103
3  104
4  105

   Admno
0    101
1    102
2    103
3    104
4    105

In [50]:
# Practical Implementation-30   (page no.=1.32)
# Renaming columns in a dataframe

import pandas as pd
s=[['Rinku',79,72],['Ritu',75,73],['Ajay',99,98]]
print('Series Generated As:')
print(s)
print('\n')
df=pd.DataFrame(s,columns=['Name','IP','BST'])
print(df)
print('\n')
df.rename(columns={'Name':'Nm','IP':'Informatics Practices'},inplace=True)
print(df)

Series Generated As:
[['Rinku', 79, 72], ['Ritu', 75, 73], ['Ajay', 99, 98]]


    Name  IP  BST
0  Rinku  79   72
1   Ritu  75   73
2   Ajay  99   98


      Nm  Informatics Practices  BST
0  Rinku                     79   72
1   Ritu                     75   73
2   Ajay                     99   98

In [51]:
# Practical Implementation-31   (page no.=1.33)
# To add new column to a dataframe.

df['Name']=['Shruti','Gunjan','Tanya','Kirti','Vineet']
print(df)
print('\n')
df['Physics']=pd.Series([89,78,65,45,55])
df['Chemistry']=pd.Series([77,89,74,60,56],index=[0,1,2,3,4])
df['Maths']=pd.Series([88,65,79,78,58])
df['Total']=df['Physics']+df['Chemistry']+df['Maths']
print(df)
print('\n')
df['Average']=df['Total']/3
print(df)

ValueError: Length of values does not match length of index

In [ ]:
# Practical Implementation-32   (page no.=1.34)
# Creating a dataframe and adding a new column to it 

import pandas as pd
test= {"Name":['Ritu','Ajay','Manu','Rohit','Reema'],
      "Score":[67,98,89,56,90],
      "No_attempts":[4,1,2,1,3]}
test_result=pd.DataFrame(test,index=['Respondent0','Respondent1','Respondent2','Respondent3','Respondent4'])
print(test_result)
print('\n')
test_result['qualify']=['NO','YES','NO','YES','YES']           # Adding a new column : qualify to test_result
print('Dataframe after adding new column')
print(test_result)

In [ ]:
# Practical Implementation-33   (page no.=1.36)
# Selecting/Accessing Rows/Columns from a DataFrame

import pandas as pd
student= {"Roll No":[1,2,3,4,5],
         "Name":['Rinku','Deep','Shaurya','RAdhika','Rohit'],
         "English":[89,78,89,90,79],
         "Economics":[87,80,60,84,77],
         "IP":[89,78,67,90,92]}
df=pd.DataFrame(student)
print(df)
print('\n')
print(df.iloc[0:3])      # Displaying row index 0 to 2
print('\n')
print(df.iloc[0:3,0:3])  # Displaying contents from row index 0 to 2 and column index 0 t0 2
print('\n')
print(df.loc[1:3])       # Displaying the contents of DataFrame using loc() ,  location name from 1 to 3

In [ ]:
# Practical Implementation-34   (page no.=1.40)
# WAP to iterate over a dataframe containing names and marks,then calculate grades as per marks and add them to grade column.

import pandas as pd
import numpy as np
names=pd.Series(['Sanjeev','Rajeev','Sanjay','Abhay'])
marks=pd.Series([76,86,55,54])
stud={'Name':names,'Marks':marks}
df=pd.DataFrame(stud,columns=['Name','Marks'])
df['Grade']=np.NaN                              # this will add NaN to all records of dataframe
print("Intial values in DataFrame")
print(df)
for (col,colSeries) in df.iteritems():
    length=len(colSeries)
    if col=='Marks':
        lstMrks=[]
        for row in range(length):
            mrks=colSeries[row]
            if mrks>=90:
                lstMrks.append('A+')
            elif mrks>=70:
                lstMrks.append('A')
            elif mrks>=60:
                lstMrks.append('B')
            elif mrks>=50:
                lstMrks.append('C')
            elif mrks>=40:
                lstMrks.append('D')
            else:
                lstMrks.append('F')
df['Grade']=lstMrks
print("\n\nDataFram after calculation of Grades")
print(df)

In [1]:
# Practical Implementation-35   (page no.=1.41)
# To perform binary operations ontwo dataframes.

import pandas as pd
student ={'Unit Test-1':[5,6,8,3,10],'Unit Test-2':[7,8,9,6,15]}
student1={'Unit Test-1':[3,3,6,6,8], 'Unit Test-2':[5,9,8,10,5]}
ds =pd.DataFrame(student)
ds1 =pd.DataFrame(student1)
print(ds)
print(ds1)
print("Subtraction")
print(ds.sub(ds1))
print("rsub")
print(ds.rsub(ds1))
print("Addition")
print(ds.add(ds1))
print("Multiplication")
print(ds.mul(ds1))
print("Division")
print(ds.div(ds1))

   Unit Test-1  Unit Test-2
0            5            7
1            6            8
2            8            9
3            3            6
4           10           15
   Unit Test-1  Unit Test-2
0            3            5
1            3            9
2            6            8
3            6           10
4            8            5
Subtraction
   Unit Test-1  Unit Test-2
0            2            2
1            3           -1
2            2            1
3           -3           -4
4            2           10
rsub
   Unit Test-1  Unit Test-2
0           -2           -2
1           -3            1
2           -2           -1
3            3            4
4           -2          -10
Addition
   Unit Test-1  Unit Test-2
0            8           12
1            9           17
2           14           17
3            9           16
4           18           20
Multiplication
   Unit Test-1  Unit Test-2
0           15           35
1           18           72
2           48           72
3           18           60
4           80           75
Division
   Unit Test-1  Unit Test-2
0     1.666667     1.400000
1     2.000000     0.888889
2     1.333333     1.125000
3     0.500000     0.600000
4     1.250000     3.000000

In [ ]:
# Practical Implementation-36   (page no.=1.43)
# To perform broadcasting operation on two array of similar shape.

import pandas as pd
a=[2,5,6,7,8]
b=[5,8,9,4,10]
df1=pd.DataFrame(a)
df2=pd.DataFrame(b)
print(df1,'\n')
print(df2,'\n')
print(df1+df2)

In [ ]:
# Practical Implementation-37   (page no.=1.43)
# To perform broadcasting operation using SCalar or constant value.

print(df1,'\n')
print(df1+50)
print('\n')

# Broadcasting using 1=D array
import pandas as pd
a = [[2,5,6],[5,8,9]]
df =pd.DataFrame(a)
print(df,'\n')
print(df+[10,50,100])

In [ ]:
# Practical Implementation-38   (page no.=1.45)
# Comparing two series element-by-element.

import pandas as pd
a=pd.Series([1,2,7,5,4])
b=pd.Series([4,8,9,5,10])
print("First Series is: ")
print(a)
print("Second Series is: ")
print(b)
print("Comparing the elements of both the series")
print("Equals")
print(a == b)
print("Greater than: ")
print(a > b)
print("Less than: ")
print(a < b)
print("Adding two series: ")
c = a + b
print(c)
print("Subtracting two series: ")
c = a - b
print(c)
print("product of two series: ")
c = a * b
print(c)
print("Divide series1 by series2: ")
c = a/b
print(c)

In [ ]:
# Practical Implementation-39   (page no.=1.47)
# Combining two dataframes, converted from two series.

import pandas as pd
d1 = {'roll_no': [10,11,12,13,14,15],
     'name':['Ankit','Pihu','Rinku','Yash','Vijay','Nikhil']}
df1 =pd.DataFrame(d1, columns =['roll_no','name'])
print(df1)
print('\n')
d2 ={'roll_no':[1,2,3,4,5,6],
    'name':['Renu','Jatin','Deep','Guddu','Chhaya','Sahil']}
df2 =pd.DataFrame(d2,columns = ['roll_no','name'])
print(df2)

In [ ]:
# Practical Implementation-40   (page no.=1.49)
# Illustrate head() and tall() methods in an Employee dataframe.

import pandas as pd
Emp_data={'Empid':[101,102,103,104,105,106],
         'Ename':['Rohit','Pooja','Princi','Shaurya','Sonia','Vinay'],
         'Doj':['12-01-2012','12-01-2012','05-09-2007','17-01-2012','05-09-2007','16-01-2012']}
df =pd.DataFrame(Emp_data)
print(df,'\n')
print(df.head(),'\n')           # by default it will display first 5 rows from top
print(df.tail(),'\n')           # by default it will display first 5 rows from bottom

print(df.head(2),'\n')
print(df.tail(2),'\n')
print(df[2:5])

In [ ]:
# Practical Implementation-41   (page no.=1.50)
# Boolean indexing using dataframe

import pandas as pd
d1={'roll_no':[10,11,12,13,14,15],
   'name':['Ankit','Pihu','Rinku','Yash','Vijay','Nikhil']}
df1 =pd.DataFrame(d1,index=[True,False,True,True,False,True])
print(df1,'\n')
print(df1.loc[True])
print()
print("iloc method displays the output as:")
print(df1.iloc[1])

In [ ]:
# Practical Implementation-42   (page no.=1.51)
# Program to concatenate two dataframes.

import pandas as pd
d1={'roll_no':[10,11,12,13,14,15],
   'name':['Ankit','Pihu','Rinku','Yash','Vijay','Nikhil']}
d2={'roll_no':[20,21,22,23,24,25],
   'name':['Shaurya','Pinky','Anubhav','Khushi','Vinay','Neetu']}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
df3=pd.concat([df1,df2])
print(df3)

In [ ]:
# Practical Implementation-43   (page no.=1.52)
# program to concatenate two dataframes without taking row labels

import pandas as pd
d1={'roll_no':[10,11,12,13,14,15],
   'name':['Ankit','Pihu','Rinku','Yash','Vijay','Nikhil']}
d2={'roll_no':[20,21,22,23,24,25],
   'name':['Shaurya','Pinky','Anubhav','Khushi','Vinay','Neetu']}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
df3=pd.concat([df1,df2],ignore_index=True)
print(df3)

In [ ]:
# Practical Implementation-44   (page no.=1.53)
# program to concatenate two datagrames along columns.

import pandas as pd
d1={'roll_no':[10,11,12,13,14,15],
   'name':['Ankit','Pihu','Rinku','Yash','Vijay','Nikhil']}
d2={'roll_no':[20,21,22,23,24,25],
   'name':['Shaurya','Pinky','Anubhav','Khushi','Vinay','Neetu']}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
df3=pd.concat([df1,df2],axis=1)
print(df3)

In [ ]:
# Practical Implementation-45   (page no.=1.53)
# program to perform merging of dataframes.

import pandas as pd
d1={'roll_no':[10,11,12,13,14,15],
   'name':['Ankit','Pihu','Rinku','Yash','Vijay','Nikhil']}
d2={'roll_no':[20,21,22,23,24,25],
   'name':['Shaurya','Pinky','Anubhav','Khushi','Vinay','Neetu']}
d3={'roll_no':[10,21,12,13,24,15],
   'name':['Jeet','Ashima','Shivin','Kiran','Tanmay','Rajat']}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
df3=pd.concat([df1,df2])
df4=pd.DataFrame(d3)
df5=pd.merge(df3,df4,on='roll_no')
print(df5)

In [ ]:
# Practical Implementation-46   (page no.=1.54)
# program to perform merging of dataframes with uncommon columns and different names.

import pandas as pd
d1={'roll_no':[10,11,12,13,14,15],
   'name':['Ankit','Pihu','Rinku','Yash','Vijay','Nikhil']}
d2={'roll_no':[20,21,22,23,24,25],
   'name':['Shaurya','Pinky','Anubhav','Khushi','Vinay','Neetu']}
d3={'roll_no':[10,21,12,13,24,15],
   'name':['Jeet','Ashima','Shivin','Kiran','Tanmay','Rajat']}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
df3=pd.concat([df1,df2])
df4=pd.DataFrame(d3)
df5=pd.merge(df3,df4,left_on='roll_no',right_on='roll_no')
print(df5)

In [ ]:
# Practical Implementation-47   (page no.=1.57)
# To create and open "Employee.csv" file using Pandas.

import pandas as pd
df =pd.read_csv("F:\\Data\\Employee.csv")   #Select the proper path of you file
print(df)

In [ ]:
# Practical Implementation-48   (page no.=1.58)
# To display the shape of the CSV file

import pandas as pd
df =pd.read_csv("F:\\Data\\Employee.csv")   #Select the proper path of you file
print(df)
print('\n')
print(df.shape)

In [ ]:
# Practical Implementation-49   (page no.=1.58)
# To display name, age and salary from Employee.csv.

df = pd.read_csv("F:\\Data\\Employee.csv",usecols =['Name','Age','Salary'])
print(df)

In [ ]:
# Practical Implementation-50   (page no.=1.59)
# To display only 5 records from Employee.csv.

import pandas as pd
df =pd.read_csv("F:\\Data\\Employee.csv",nrows = 5)
print(df)

In [ ]:
# Practical Implementation-51   (page no.=1.59)
# To diplay records without header

import pandas as pd
df =pd.read_csv("F:\\Data\\Employee.csv",header =None)
print(df)

In [ ]:
# Practical Implementation-52   (page no.=1.60)
# To display records without index numbers.

import pandas as pd
df =pd.read_csv("F:\\Data\\Employee.csv",index_col =0)
print(df)

In [ ]:
# Practical Implementation-53   (page no.=1.60)
# To display Employee file with new column names.

import pandas as pd
df =pd.read_csv("F:\\Data\\Employee.csv",skiprows =1,
               names =['E_id','Ename','E_age','Ecity','Esalary'])
print(df)

In [ ]:
# Practical Implementation-54   (page no.=1.61)
# To modify the salary of employee earning 16000 with NaN value.

import pandas as pd
df =pd.read_csv("F:\\Data\\Employee.csv",na_values= [16000])
print(df)

In [52]:
# Practical Implementation-55   (page no.=1.62)
# To create a new CSV file by copying the contents of Employee.csv.

import pandas as pd
df =pd.read_csv("F:\\Data\\Employee.csv")
df.to_csv("F:\\Data\\Empnew.csv")
print(df)

FileNotFoundError: [Errno 2] File F:\Data\Employee.csv does not exist: 'F:\\Data\\Employee.csv'

In [53]:
# Practical Implementation-56   (page no.=1.62)
# To create a student CSV file from dataframe.

Student ={'RollNO':[1,2,3,4,5,6],
         'StudName':['Teena','Rinku','Payal','Akshay','Garvit','Yogesh'],
          'Marks':[90,78,88,89,77,97],
          'Class':['11A','11B','11C','11A','11D','11E']}

import pandas as pd

df =pd.DataFrame(Student,columns =['RollNo','StudName','Marks','Class'])

df.to_csv("F:\\Data\\Student.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'F:\\Data\\Student.csv'

In [ ]:
# Our next step is to read the Student.csv into a dataframe using read_csv() method.   (page no. 1.63)

df.to_csv("F:\\Data\\Student.csv")

df =pd.read_csv("F:\\Data\\Student.csv")

print(df)

In [54]:
# to remove Unnamed:0 that displayed automatically in the above output windwo 
# use attribute "index_col=0" with read_csv() 

df =pd.read_csv("F:\\Data\\Student.csv",index_col =0)
print(df)

FileNotFoundError: [Errno 2] File F:\Data\Student.csv does not exist: 'F:\\Data\\Student.csv'

In [ ]:
# Practical Implementation-57   (page no.=1.64)
# To create a duplicate file for Employee.csv containing Empid and Employee name.

import pandas as pd
df =pd.read_csv("F:\\Data\\Employee.csv")
df1 = df.to_csv("F:\\Data\\Emp.csv",columns =["Empid","Name"])