In [1]:
# Practical Implementation - 1    (page no.=2.8)
# To perform all the aggregate and statistical functions in pandas on dataframe

import pandas as pd
import numpy as np
# Create a Dictionary of series
d = {'Name':pd.Series(['Sachin','Dhoni','Virat','Rohit','Shikhar']),
    'Age':pd.Series([26,25,25,24,31]),
    'Score':pd.Series([87,67,89,55,47])}
# Create a dataframe
df=pd.DataFrame(d)
print('Dataframe contents')
print(df,'\n')
print(df.count())
print('count age',df[['Age']].count())
print('sum of score',df[['Score']].sum())
print('minimum age',df[['Age']].min())
print('maximum score',df[['Score']].max())
print('mean age',df[['Age']].mean())
print('mode of age',df[['Age']].mode())
print('median of score',df[['Score']].median())

Dataframe contents
      Name  Age  Score
0   Sachin   26     87
1    Dhoni   25     67
2    Virat   25     89
3    Rohit   24     55
4  Shikhar   31     47
Name     5
Age      5
Score    5
dtype: int64
count age Age    5
dtype: int64
sum of score Score    345
dtype: int64
minimum age Age    24
dtype: int64
maximum score Score    89
dtype: int64
mean age Age    26.2
dtype: float64
mode of age    Age
0   25
median of score Score    67.0
dtype: float64

In [1]:
# Practical Implementation - 2    (page no.=2.13)
# To implement quantile using Pandas dataframe.

import pandas as pd
import numpy as np
df= pd.DataFrame(np.array([[1,1],[2,10],[3,100],[4,1000]]),columns=['a','b'])
print(df,'\n')
print(df.quantile(0.5),'\n')                  #50% quantile or median
print(df.quantile([.1,.25,.5,.75],axis=0))    #25%, 50% and 75% quantile

   a     b
0  1     1
1  2    10
2  3   100
3  4  1000

a     2.5
b    55.0
Name: 0.5, dtype: float64

         a       b
0.10  1.30    3.70
0.25  1.75    7.75
0.50  2.50   55.00
0.75  3.25  325.00

In [4]:
# Practical Implementation - 3    (page no.=2.14)
# To calculate variance

import pandas as pd
import numpy as np
# Create a Dictionary of series
d = {'Name':pd.Series(['Sachin','Dhoni','Virat','Rohit','Shikhar']),
    'Age':pd.Series([26,25,25,24,31]),
    'Score':pd.Series([87,67,89,55,47])}
# Create a dataframe
df=pd.DataFrame(d)
print('Dataframe contents')
print(df,'\n')
print(df.var(),'\n')
print(df.var(axis=0),'\n')         #column variance
print(df.var(axis=1),'\n')         #Row variance
print(df.loc[:,'Age'].var())       #Variance for specific column

Dataframe contents
      Name  Age  Score
0   Sachin   26     87
1    Dhoni   25     67
2    Virat   25     89
3    Rohit   24     55
4  Shikhar   31     47

Age        7.7
Score    352.0
dtype: float64

Age        7.7
Score    352.0
dtype: float64

0    1860.5
1     882.0
2    2048.0
3     480.5
4     128.0
dtype: float64

7.7

In [5]:
# Practical Implementation - 4    (page no.=2.16)
# Progam for computing Standard Deviation

import pandas as pd
import numpy as np
# Create a Dictionary of series
d = {'Name':pd.Series(['Sachin','Dhoni','Virat','Rohit','Shikhar']),
    'Age':pd.Series([26,25,25,24,31]),
    'Score':pd.Series([87,67,89,55,47])}
# Create a dataframe
df=pd.DataFrame(d)
print('Dataframe contents')
print(df)
print('\n Standard Deviatio for Age and Score')
print(df[['Age','Score']].std())

Dataframe contents
      Name  Age  Score
0   Sachin   26     87
1    Dhoni   25     67
2    Virat   25     89
3    Rohit   24     55
4  Shikhar   31     47

 Standard Deviatio for Age and Score
Age       2.774887
Score    18.761663
dtype: float64

In [12]:
# Practical Implementation - 5    (page no.=2.18)
# Pivoting using pivot() method

import pandas as pd
ClassXII_result={'Name':['Radhika','Sonia','Shaurya','Vinay'],\
               'Subject':['IP','CS','Maths','Phy'],\
               'Marks':[98,87,99,87],\
               'Grade':['A1','A2','A1','B']}
#Creating a DataFrame
df= pd.DataFrame(ClassXII_result,columns=['Name','Subject','Marks','Grade'])
print(df,'\n')

#Creating a pivot table using pivot() function.
pv=df.pivot(index='Name',columns='Subject',values='Marks')
print(pv,'\n')

# Creating pivote table with .fillna()
pv=df.pivot(index='Name',columns='Subject',values='Marks').fillna('')
print(pv,'\n')

#value attribute skipped
pv=df.pivot(index='Name',columns='Subject')
print(pv,'\n')

#Filtering on the basi of Grade and respective subject only
print(pv.Grade.Maths.fillna(''))

      Name Subject  Marks Grade
0  Radhika      IP     98    A1
1    Sonia      CS     87    A2
2  Shaurya   Maths     99    A1
3    Vinay     Phy     87     B

Subject    CS    IP  Maths   Phy
Name
Radhika   NaN  98.0    NaN   NaN
Shaurya   NaN   NaN   99.0   NaN
Sonia    87.0   NaN    NaN   NaN
Vinay     NaN   NaN    NaN  87.0

Subject  CS  IP Maths Phy
Name
Radhika      98
Shaurya            99
Sonia    87
Vinay                  87

        Marks                   Grade
Subject    CS    IP Maths   Phy    CS   IP Maths  Phy
Name
Radhika   NaN  98.0   NaN   NaN   NaN   A1   NaN  NaN
Shaurya   NaN   NaN  99.0   NaN   NaN  NaN    A1  NaN
Sonia    87.0   NaN   NaN   NaN    A2  NaN   NaN  NaN
Vinay     NaN   NaN   NaN  87.0   NaN  NaN   NaN    B

Name
Radhika
Shaurya    A1
Sonia
Vinay
Name: Maths, dtype: object

In [13]:
# Practical Implementation - 6    (page no.=2.20)
# Pivoting using pivot() method
# Dublicate values for same column 'Name'

import pandas as pd
ClassXII_result={'Name':['Radhika','Sonia','Shaurya','Radhika'],\
               'Subject':['IP','CS','Maths','Phy'],\
               'Marks':[98,87,99,87],\
               'Grade':['A1','A2','A1','B']}
#Creating a DataFrame
df= pd.DataFrame(ClassXII_result,columns=['Name','Subject','Marks','Grade'])
print(df,'\n')

      Name Subject  Marks Grade
0  Radhika      IP     98    A1
1    Sonia      CS     87    A2
2  Shaurya   Maths     99    A1
3  Radhika     Phy     87     B

In [16]:
# Practical Implementation - 7    (page no.=2.22)
# Illustrating the use of pivot_table() method

import pandas as pd
name_dict = {'INVIGILATOR':['Rajesh','Naveen','Anil','Naveen','Rajesh'],\
            'AMOUNT':[550,550,550,550,550],}
df=pd.DataFrame(name_dict)
print(df)
pd.pivot_table(df, index = ['INVIGILATOR'],aggfunc='sum')

  INVIGILATOR  AMOUNT
0      Rajesh     550
1      Naveen     550
2        Anil     550
3      Naveen     550
4      Rajesh     550

             AMOUNT
INVIGILATOR
Anil            550
Naveen         1100
Rajesh         1100

In [17]:
# Practical Implementation - 8    (page no.=2.23)
# Illustrate pivot_table for all the columns with Filtering

import pandas as pd
sale_dict = {'ITEM_NAME':['NOTEBOOK','PEN','INKPEN','NOTEBOOK','PEN'],\
            'AMOUNT':[100,50,30,100,50],\
            'QUANTITY':[2,5,3,3,5]}
df = pd.DataFrame(sale_dict)
print(df)
pd.pivot_table(df, index = ['ITEM_NAME','AMOUNT','QUANTITY'], aggfunc='sum')

  ITEM_NAME  AMOUNT  QUANTITY
0  NOTEBOOK     100         2
1       PEN      50         5
2    INKPEN      30         3
3  NOTEBOOK     100         3
4       PEN      50         5

Empty DataFrame
Columns: []
Index: [(INKPEN, 30, 3), (NOTEBOOK, 100, 2), (NOTEBOOK, 100, 3), (PEN, 50, 5)]

In [19]:
# Practical Implementation - 9    (page no.=2.24)
# Maximum, Minimum, Mean, Mode, Median and Count of sales, Salesman wise

import pandas as pd
print("DataFrame of Values\n")
monthlysales = {'Salesman':['Rinku','Jay','Radhika','Arun','Jay','Karan','Akshit','Jay','Karan','Akshit','Radhika','Karan'],
               'Sales':[1000,300,800,1000,500,60,1000,900,300,1000,900,50],
               'Quarter':[1,1,1,2,2,2,3,3,3,4,4,4],
               'District':['Kangra','Hamirpur','Kangra','Mandi','Hamirpur','Kangra','Kanga','Hamirpur','Mandi','Hamirpur','Hamirpur','Kangra']}
df=pd.DataFrame(monthlysales)
print(df)

#Use of mode() method of DataFrame
print('\n')
print('Use of mode() method of DataFrame')
print(df.mode())
print('\n')
print("Use of max, min, mean, median and count\n")
print(pd.pivot_table(df, index=['Salesman'], values=['Sales'], aggfunc=['max','min','mean','median','count']))

DataFrame of Values

   Salesman  Sales  Quarter  District
0     Rinku   1000        1    Kangra
1       Jay    300        1  Hamirpur
2   Radhika    800        1    Kangra
3      Arun   1000        2     Mandi
4       Jay    500        2  Hamirpur
5     Karan     60        2    Kangra
6    Akshit   1000        3     Kanga
7       Jay    900        3  Hamirpur
8     Karan    300        3     Mandi
9    Akshit   1000        4  Hamirpur
10  Radhika    900        4  Hamirpur
11    Karan     50        4    Kangra


Use of mode() method of DataFrame
  Salesman   Sales  Quarter  District
0      Jay  1000.0        1  Hamirpur
1    Karan     NaN        2       NaN
2      NaN     NaN        3       NaN
3      NaN     NaN        4       NaN


Use of max, min, mean, median and count

           max   min         mean median count
         Sales Sales        Sales  Sales Sales
Salesman
Akshit    1000  1000  1000.000000   1000     2
Arun      1000  1000  1000.000000   1000     1
Jay        900   300   566.666667    500     3
Karan      300    50   136.666667     60     3
Radhika    900   800   850.000000    850     2
Rinku     1000  1000  1000.000000   1000     1

In [23]:
# Practical Implementation - 10    (page no.=2.25)
# To illustrate pivot_table() function on the dataframe
# generated using .csv file-Employee.csv

import pandas as pd
df = pd.read_csv('F:\\Data\\Employee.csv',skiprows = 1,
                names =['E_id','Ename','E_age','Ecity','Esalary'])
print(df,'\n')
r=df.pivot_table(df,index=['Ename'],aggfunc='sum')
print(r)

   E_id    Ename  E_age      Ecity  Esalary
0   100   Ritesh     25     Mumbai  15000.0
1   101   Aakash     26        Goa  16000.0
2   102   Mahima     27  Hyderabad  20000.0
3   103  Lakshay     23      Delhi  18000.0
4   104     Manu     25     Mumbai  25000.0
5   105    Nidhi     26      Delhi      NaN
6   106    Geetu     30  Bangalore  28000.0

         E_age  E_id  Esalary
Ename
Aakash      26   101  16000.0
Geetu       30   106  28000.0
Lakshay     23   103  18000.0
Mahima      27   102  20000.0
Manu        25   104  25000.0
Nidhi       26   105      0.0
Ritesh      25   100  15000.0

In [25]:
# Practical Implementation - 11    (page no.=2.26)
# Sort the pandas Dataframe on the basis of a single column in ascending order

import pandas as pd
import numpy as np
# Create a Dictionary of series
d = {'Name':pd.Series(['Sachin','Dhoni','Virat','Rohit','Shikhar']),
    'Age':pd.Series([26,25,25,24,31]),
    'Score':pd.Series([87,67,89,55,47])}
# Create a dataframe
df=pd.DataFrame(d)
print('Dataframe contents without sorting')
print(df,'\n')
df=df.sort_values(by='Score')    #Ascending order by default
print('Dataframe contents after sorting')
print(df)

Dataframe contents without sorting
      Name  Age  Score
0   Sachin   26     87
1    Dhoni   25     67
2    Virat   25     89
3    Rohit   24     55
4  Shikhar   31     47

Dataframe contents after sorting
      Name  Age  Score
4  Shikhar   31     47
3    Rohit   24     55
1    Dhoni   25     67
0   Sachin   26     87
2    Virat   25     89

In [26]:
# Practical Implementation - 12    (page no.=2.27)
# Sort the pandas Dataframe on the basis of a single column in descenting order

import pandas as pd
import numpy as np
# Create a Dictionary of series
d = {'Name':pd.Series(['Sachin','Dhoni','Virat','Rohit','Shikhar']),
    'Age':pd.Series([26,25,25,24,31]),
    'Score':pd.Series([87,67,89,55,47])}
# Create a dataframe
df=pd.DataFrame(d)
print('Dataframe contents without sorting')
print(df,'\n')
df=df.sort_values(by='Score',ascending= 0)     #ascending=0 signifies descenting order
print('Dataframe contents after sorting')
print(df)

Dataframe contents without sorting
      Name  Age  Score
0   Sachin   26     87
1    Dhoni   25     67
2    Virat   25     89
3    Rohit   24     55
4  Shikhar   31     47

Dataframe contents after sorting
      Name  Age  Score
2    Virat   25     89
0   Sachin   26     87
1    Dhoni   25     67
3    Rohit   24     55
4  Shikhar   31     47

In [28]:
# Practical Implementation - 13    (page no.=2.28)
# Sort the pandas Dataframe on the basis of Multiple Columns

import pandas as pd
import numpy as np
# Create a Dictionary of series
d = {'Name':pd.Series(['Sachin','Dhoni','Virat','Rohit','Shikhar']),
    'Age':pd.Series([26,25,25,24,31]),
    'Score':pd.Series([87,67,89,55,47])}
# Create a dataframe
df=pd.DataFrame(d)
print('Dataframe contents without sorting')
print(df,'\n')

#Sorting on the basis of age in ascending order and then on Score in descending order
df=df.sort_values(by=['Age','Score'],ascending=[True,False])     
print('Dataframe contents after sorting')
print(df)

Dataframe contents without sorting
      Name  Age  Score
0   Sachin   26     87
1    Dhoni   25     67
2    Virat   25     89
3    Rohit   24     55
4  Shikhar   31     47

Dataframe contents after sorting
      Name  Age  Score
3    Rohit   24     55
2    Virat   25     89
1    Dhoni   25     67
0   Sachin   26     87
4  Shikhar   31     47

In [30]:
# Practical Implementation - 14    (page no.=2.29)
# Sort the DataFrame by index in ascending order

import pandas as pd
import numpy as np
# Create a Dictionary of series
d = {'Name':pd.Series(['Jeet','Dheeraj','Suraj','Rohit','Ankit']),
    'Age':pd.Series([26,25,25,24,31]),
    'Score':pd.Series([87,67,89,55,47])}
# Create a dataframe
df=pd.DataFrame(d)
df=df.reindex([1,4,3,2,0])
print('Dataframe contents without sorting')
print(df,'\n')
df1=df.sort_index()       #Ascending order by default
print('Dataframe contents after sorting')
print(df1)

Dataframe contents without sorting
      Name  Age  Score
1  Dheeraj   25     67
4    Ankit   31     47
3    Rohit   24     55
2    Suraj   25     89
0     Jeet   26     87

Dataframe contents after sorting
      Name  Age  Score
0     Jeet   26     87
1  Dheeraj   25     67
2    Suraj   25     89
3    Rohit   24     55
4    Ankit   31     47

In [31]:
# Practical Implementation - 15    (page no.=2.29)
# Sorting pandas DataFrame on the basis of index in descending order

import pandas as pd
import numpy as np
# Create a Dictionary of series
d = {'Name':pd.Series(['Jeet','Dheeraj','Suraj','Rohit','Ankit']),
    'Age':pd.Series([26,25,25,24,31]),
    'Score':pd.Series([87,67,89,55,47])}
# Create a dataframe
df=pd.DataFrame(d)
df=df.reindex([1,4,3,2,0])
print('Dataframe contents without sorting')
print(df,'\n')
df1=df.sort_index(ascending=0)       #ascending=0 sets the order as descending
print('Dataframe contents after sorting')
print(df1)

Dataframe contents without sorting
      Name  Age  Score
1  Dheeraj   25     67
4    Ankit   31     47
3    Rohit   24     55
2    Suraj   25     89
0     Jeet   26     87

Dataframe contents after sorting
      Name  Age  Score
4    Ankit   31     47
3    Rohit   24     55
2    Suraj   25     89
1  Dheeraj   25     67
0     Jeet   26     87

In [33]:
# Practical Implementation - 16    (page no.=2.31)
# Grouping in Pandas- group by

from collections import OrderedDict
from pandas import DataFrame
import pandas as pd
import numpy as np

table=OrderedDict((
('name',['vishal','anil','mayur','viraj','mahesh']),
('age',[15,16,15,17,16]),
('weight',[51,48,49,51,48]),
('height',[5.1,5.2,5.1,5.3,5.1]),
('runsscored',[55,25,71,53,51])
))
d=DataFrame(table)
print('DATA OF DATAFRAME')
print(d,'\n')
print(d.groupby('age').max())  # Grouping followed by finding the maximum value for each age group

DATA OF DATAFRAME
     name  age  weight  height  runsscored
0  vishal   15      51     5.1          55
1    anil   16      48     5.2          25
2   mayur   15      49     5.1          71
3   viraj   17      51     5.3          53
4  mahesh   16      48     5.1          51

       name  weight  height  runsscored
age
15   vishal      51     5.1          71
16   mahesh      48     5.2          51
17    viraj      51     5.3          53

In [34]:
# Practical Implementation - 17    (page no.=2.33)
# Illustrating transform() in Pandas

from collections import OrderedDict
from pandas import DataFrame
import pandas as pd
import numpy as np

table=OrderedDict((
('name',['vishal','anil','mayur','viraj','mahesh']),
('age',[15,16,15,17,16]),
('weight',[51,48,49,51,48]),
('height',[5.1,5.2,5.1,5.3,5.1]),
('runsscored',[55,25,71,53,51])
))
d=DataFrame(table)
print('DATA OF DATAFRAME')
print(d,'\n')
print(d.groupby('age')['runsscored'].transform('sum'))

DATA OF DATAFRAME
     name  age  weight  height  runsscored
0  vishal   15      51     5.1          55
1    anil   16      48     5.2          25
2   mayur   15      49     5.1          71
3   viraj   17      51     5.3          53
4  mahesh   16      48     5.1          51

0    126
1     76
2    126
3     53
4     76
Name: runsscored, dtype: int64

In [44]:
# Practical Implementation - 18    (page no.=2.34)
# Reindexing in Pandas series

import pandas as pd
import numpy as np
data = np.array([54,76,88,99,34])
s1 = pd.Series(data,index=['a','b','c','d','e'])
print(s1,'\n')
s2=s1.reindex(['e','d','c','b','a'])
print(s2)

a    54
b    76
c    88
d    99
e    34
dtype: int32

e    34
d    99
c    88
b    76
a    54
dtype: int32

In [45]:
# Practical Implementation - 19    (page no.=2.34)
# Reindexing pandas series without label

import pandas as pd
import numpy as np
data = np.array([54,76,88,99,34])
s1 = pd.Series(data,index=['a','b','c','d','e'])
print(s1,'\n')
s2=s1.reindex(['f','g','c','b','a'])
print(s2)

a    54
b    76
c    88
d    99
e    34
dtype: int32

f     NaN
g     NaN
c    88.0
b    76.0
a    54.0
dtype: float64

In [47]:
# Practical Implementation - 20    (page no.=2.35)
# Reindexing without labels - renaming index values.

import pandas as pd
import numpy as np
data = np.array([54,76,88,99,34])
s1 = pd.Series(data,index=['a','b','c','d','e'])
print(s1,'\n')
s2=s1.rename(index={'a':0,'b':1})
print(s2)

a    54
b    76
c    88
d    99
e    34
dtype: int32

0    54
1    76
c    88
d    99
e    34
dtype: int32

In [48]:
# Practical Implementation - 21    (page no.=2.35)
# Reindexing in Pandas Dataframe - renaming index value.

import pandas as pd
import numpy as np
# Create a Dictionary of series
d = {'Name':pd.Series(['Sachin','Dhoni','Virat','Rohit','Shikhar']),
    'Age':pd.Series([26,25,25,24,31]),
    'Score':pd.Series([87,67,89,55,47])}
# Create a dataframe
df=pd.DataFrame(d)
print('Dataframe contents without sorting')
print(df,'\n')
df1=df.rename(index={0:'First Player',1:'Second Player',2:'Third Player'})
print('Dataframe  contents after renaming the index')
print(df1)

Dataframe contents without sorting
      Name  Age  Score
0   Sachin   26     87
1    Dhoni   25     67
2    Virat   25     89
3    Rohit   24     55
4  Shikhar   31     47

Dataframe  contents after renaming the index
                  Name  Age  Score
First Player    Sachin   26     87
Second Player    Dhoni   25     67
Third Player     Virat   25     89
3                Rohit   24     55
4              Shikhar   31     47

In [49]:
# Practical Implementation - 22    (page no.=2.36)
# Reindexing in pandas Dataframe using set_index() method

import pandas as pd
import numpy as np
# Create a Dictionary of series
d = {'Name':pd.Series(['Sachin','Dhoni','Virat','Rohit','Shikhar']),
    'Age':pd.Series([26,25,25,24,31]),
    'Score':pd.Series([87,67,89,55,47])}
# Create a dataframe
df=pd.DataFrame(d)
print('Dataframe contents')
print(df,'\n')
df.set_index('Name',inplace=True)
print('Dataframe contents after renaming the index')
print(df)

Dataframe contents
      Name  Age  Score
0   Sachin   26     87
1    Dhoni   25     67
2    Virat   25     89
3    Rohit   24     55
4  Shikhar   31     47

Dataframe contents after renaming the index
         Age  Score
Name
Sachin    26     87
Dhoni     25     67
Virat     25     89
Rohit     24     55
Shikhar   31     47

In [51]:
# Practical Implementation - 23    (page no.=2.37)
# To illustrate reindexing rows in Pandas dataframe.

from collections import OrderedDict
from pandas import DataFrame
import pandas as pd
import numpy as np

table=OrderedDict((
('name',['vishal','anil','mayur','viraj','mahesh']),
('age',[15,16,15,17,16]),
('weight',[51,48,49,51,48]),
('height',[5.1,5.2,5.1,5.3,5.1]),
('runsscored',[55,25,71,53,51])
))
d=DataFrame(table)
print('DATA OF DATAFRAME')
print(d,'\n')
print('DATA OF DATAFRAME AFTER REINDEX')
df=d.reindex([2,1,0,4,3])
print(df)

DATA OF DATAFRAME
     name  age  weight  height  runsscored
0  vishal   15      51     5.1          55
1    anil   16      48     5.2          25
2   mayur   15      49     5.1          71
3   viraj   17      51     5.3          53
4  mahesh   16      48     5.1          51

DATA OF DATAFRAME AFTER REINDEX
     name  age  weight  height  runsscored
2   mayur   15      49     5.1          71
1    anil   16      48     5.2          25
0  vishal   15      51     5.1          55
4  mahesh   16      48     5.1          51
3   viraj   17      51     5.3          53

In [52]:
# Practical Implementation - 24    (page no.=2.37)
# To illustrate reindexing columns in Pandas dataframe.

from collections import OrderedDict
from pandas import DataFrame
import pandas as pd
import numpy as np

table=OrderedDict((
('name',['vishal','anil','mayur','viraj','mahesh']),
('age',[15,16,15,17,16]),
('weight',[51,48,49,51,48]),
('height',[5.1,5.2,5.1,5.3,5.1]),
('runsscored',[55,25,71,53,51])
))
d=DataFrame(table)
print('DATA OF DATAFRAME')
print(d,'\n')
print("DATA OF DATAFRAME AFTER REINDEX")
df=d.reindex(columns=['name','runsscored','age'])
print(df)

DATA OF DATAFRAME
     name  age  weight  height  runsscored
0  vishal   15      51     5.1          55
1    anil   16      48     5.2          25
2   mayur   15      49     5.1          71
3   viraj   17      51     5.3          53
4  mahesh   16      48     5.1          51

DATA OF DATAFRAME AFTER REINDEX
     name  runsscored  age
0  vishal          55   15
1    anil          25   16
2   mayur          71   15
3   viraj          53   17
4  mahesh          51   16

In [53]:
# Practical Implementation - 25    (page no.=2.38)
# To illustrate altering dataframe labels.

from collections import OrderedDict
from pandas import DataFrame
import pandas as pd
import numpy as np

table=OrderedDict((
('name',['vishal','anil','mayur','viraj','mahesh']),
('age',[15,16,15,17,16]),
('weight',[51,48,49,51,48]),
('height',[5.1,5.2,5.1,5.3,5.1]),
('runsscored',[55,25,71,53,51])
))
d=DataFrame(table)
print('DATA OF DATAFRAME')
print(d,'\n')
print("DATA OF DATAFRAME AFTER REINDEX")
df=d.rename(index={0:'a',1:'b'})
print(df)

DATA OF DATAFRAME
     name  age  weight  height  runsscored
0  vishal   15      51     5.1          55
1    anil   16      48     5.2          25
2   mayur   15      49     5.1          71
3   viraj   17      51     5.3          53
4  mahesh   16      48     5.1          51

DATA OF DATAFRAME AFTER REINDEX
     name  age  weight  height  runsscored
a  vishal   15      51     5.1          55
b    anil   16      48     5.2          25
2   mayur   15      49     5.1          71
3   viraj   17      51     5.3          53
4  mahesh   16      48     5.1          51

In [54]:
# Practical Implementation - 26    (page no.=2.39)
# To illustrate deleting indexes in a dataframe.

import pandas as pd
import numpy as np
# Create a Dictionary of series
d = {'Name':pd.Series(['Sachin','Dhoni','Virat','Rohit','Shikhar']),
    'Age':pd.Series([26,25,25,24,31]),
    'Score':pd.Series([87,67,89,55,47])}
# Create a dataframe
df=pd.DataFrame(d)
print('Dataframe contents')
print(df,'\n')
df1=df.drop(index=[2,3])
print('Dataframe contents after deleting the indexes')
print(df1)

Dataframe contents
      Name  Age  Score
0   Sachin   26     87
1    Dhoni   25     67
2    Virat   25     89
3    Rohit   24     55
4  Shikhar   31     47

Dataframe contents after deleting the indexes
      Name  Age  Score
0   Sachin   26     87
1    Dhoni   25     67
4  Shikhar   31     47

In [18]:
# Establishing Python-MySQL connectivity     (page no.=2.42)

import mysql.connector

mydb = mysql.connector.connect(host='localhost',user='root',passwd='1234',database='School')
print(mydb,'\n')

dfs1=pd.read_sql("SELECT * FROM Student",mydb)
print(dfs1)

<mysql.connector.connection.MySQLConnection object at 0x05F06508>

  Student_ID  S_RNO   S_Name class Sec              Email_ID Gender  \
0     S-7531      1  Charles    XI   C  charles123@gmail.com      M
1     S-7532      2   Anjali    XI   A   anjali456@gmail.com      F
2     S-7533      3   Vishal    XI   C   vishal789@gmail.com      M
3     S-7534      4    Sneha    XI   A    sneha159@gmail.com      F
4     S-7535      5     Umar    XI   A     umar753@gmail.com      M
5     S-7536      6     Ajay    XI   A     ajay852@gmail.com      M
6     S-7537      7    Anand    XI   C    anand258@gmail.com      M
7     S-7538      8   Thomas    XI   C   thomas654@gmail.com      M
8     S-7539      9  Sanjana    XI   A  sanjana758@gmail.com      F
9     S-7540     10    Angad    XI   C    angad351@gmail.com      M

          Dob  Marks
0  2005-08-12     46
1  2005-11-16     59
2  2004-04-05     38
3  2005-05-28     76
4  2001-06-17     98
5  2003-09-23     99
6  2005-08-22     89
7  2003-01-24     75
8  2005-02-19     64
9  2003-08-12     35

In [26]:
# Practical Implementation - 27    (page no.=2.43)
# Read the contents of student table into a dataframe

import pandas as pd
import sqlalchemy as sq
con=sq.create_engine("mysql+mysqlconnector://root:1234@localhost/school")
df=pd.read_sql("student",con)
print(df)

  Student_ID  S_RNO   S_Name class Sec              Email_ID Gender  \
0     S-7531      1  Charles    XI   C  charles123@gmail.com      M
1     S-7532      2   Anjali    XI   A   anjali456@gmail.com      F
2     S-7533      3   Vishal    XI   C   vishal789@gmail.com      M
3     S-7534      4    Sneha    XI   A    sneha159@gmail.com      F
4     S-7535      5     Umar    XI   A     umar753@gmail.com      M
5     S-7536      6     Ajay    XI   A     ajay852@gmail.com      M
6     S-7537      7    Anand    XI   C    anand258@gmail.com      M
7     S-7538      8   Thomas    XI   C   thomas654@gmail.com      M
8     S-7539      9  Sanjana    XI   A  sanjana758@gmail.com      F
9     S-7540     10    Angad    XI   C    angad351@gmail.com      M

         Dob  Marks
0 2005-08-12     46
1 2005-11-16     59
2 2004-04-05     38
3 2005-05-28     76
4 2001-06-17     98
5 2003-09-23     99
6 2005-08-22     89
7 2003-01-24     75
8 2005-02-19     64
9 2003-08-12     35

In [30]:
# Practical Implementation - 28    (page no.=2.44)
# Read selective columns from student table into a dataframe.

import pandas as pd
import sqlalchemy as sq
con=sq.create_engine("mysql+mysqlconnector://root:1234@localhost/school")
df=pd.read_sql("student",con,columns=["S_RNO","S_Name"])
print(df)

   S_RNO   S_Name
0      1  Charles
1      2   Anjali
2      3   Vishal
3      4    Sneha
4      5     Umar
5      6     Ajay
6      7    Anand
7      8   Thomas
8      9  Sanjana
9     10    Angad

In [34]:
# Practical Implementation - 29    (page no.=2.44)
# Read data from student table into a dataframe based on condition WHERE clause.

import pandas as pd
import sqlalchemy as sq
con=sq.create_engine("mysql+mysqlconnector://root:1234@localhost/school")
df=pd.read_sql("select * from student where marks>75",con)
print(df)

  Student_ID  S_RNO S_Name class Sec            Email_ID Gender         Dob  \
0     S-7534      4  Sneha    XI   A  sneha159@gmail.com      F  2005-05-28
1     S-7535      5   Umar    XI   A   umar753@gmail.com      M  2001-06-17
2     S-7536      6   Ajay    XI   A   ajay852@gmail.com      M  2003-09-23
3     S-7537      7  Anand    XI   C  anand258@gmail.com      M  2005-08-22

   Marks
0     76
1     98
2     99
3     89

In [37]:
# Practical Implementation - 30    (page no.=2.45)
# Write data from a dataframe into a sql table

import pandas as pd
import sqlalchemy as sq
con=sq.create_engine("mysql+mysqlconnector://root:1234@localhost/school")
d = {'Name':pd.Series(['Suraj','Dheeraj','Virat','Rohit','Ankur']),
    'Age':pd.Series([26,25,25,24,31]),
    'Score':pd.Series([87,67,89,55,47])}

#Create a DataFrame
df = pd.DataFrame(d)
print(df)

#Writing the contents of this dataframe into a table"cricket_schoolteam" inside school database
df.to_sql("cricket_schoolteam",con)

      Name  Age  Score
0    Suraj   26     87
1  Dheeraj   25     67
2    Virat   25     89
3    Rohit   24     55
4    Ankur   31     47

In [ ]:
# Practical Implementation - 31    (page no.=2.46)
# Write data from a dataframe into a sql table without index values.

import pandas as pd
import sqlalchemy as sq
con=sq.create_engine("mysql+mysqlconnector://root:1234@localhost/school")
d = {'Name':pd.Series(['Suraj','Dheeraj','Virat','Rohit','Ankur']),
    'Age':pd.Series([26,25,25,24,31]),
    'Score':pd.Series([87,67,89,55,47])}
#Create a DataFrame
df = pd.DataFrame(d)
df.to_sql("cricket_schoolteam",con,index=False)

In [46]:
# Practical Implementation - 32    (page no.=2.47)
# Write data from a dataframe into a sql table (with overwriting the contents) without index values

import pandas as pd
import sqlalchemy as sq
con=sq.create_engine("mysql+mysqlconnector://root:1234@localhost/school")
d = {'Name':pd.Series(['Suraj','Dheeraj','Virat','Rohit','Ankur']),
    'Age':pd.Series([26,25,25,24,31]),
    'Score':pd.Series([87,67,89,55,47])}
#Create a DataFrame
df = pd.DataFrame(d)
df.to_sql("cricket_schoolteam",con,if_exists="replace",index=False)

In [47]:
# Practical Implementation - 33    (page no.=2.47)
# Appending data from a dataframe into a sql table

import pandas as pd
import sqlalchemy as sq
con=sq.create_engine("mysql+mysqlconnector://root:1234@localhost/school")
d = {'Name':pd.Series(['Suraj','Dheeraj','Virat','Rohit','Ankur']),
    'Age':pd.Series([26,25,25,24,31]),
    'Score':pd.Series([87,67,89,55,47])}
#Create a DataFrame
df = pd.DataFrame(d)
df.to_sql("cricket_schoolteam",con,if_exists="append",index=False)